<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Jason问答平台</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 导航条开始 -->
    <% include ./share/nav.ejs %>
        <!-- 导航条结束 -->
        <!-- 提示域开始 -->
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">您已经成功登录Jason问答平台-无需重复登录！</h1>
                <p class="lead"></p>
                <hr class="my-4">
                <p>感谢您的使用！</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">点击此处跳转首页</a>
                </p>
            </div>
        </div>
        <!-- 提示域结束 -->

</body>
</html>