<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Jason问答平台</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <% include ./share/head.ejs %>
</head>

<body>
    <!-- 导航条开始 -->
    <% include ./share/nav.ejs %>
        <!-- 导航条结束 -->
        <!-- 注册域开始 -->
        <div class="container mt-5">
            <h1>登录</h1>
            <hr/>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <button type="button" class="btn btn-success ww">Login in</button>
            </form>
        </div>
        <!-- 注册域结束 -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mm" data-toggle="modal" data-target="#exampleModal" style="display:none;">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Jason问答平台</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary dd">点击跳转首页</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="js/login.js"></script>

</html>